# dependencies
node_modules/
frontend/node_modules/
backend/node_modules/

# build outputs
dist/
frontend/dist/
backend/dist/

# environment files
.env
.env.*
!.env.example

# logs
npm-debug.*
yarn-debug.*
yarn-error.*

# OS and editor
.DS_Store
Thumbs.db

# typescript
*.tsbuildinfo

# documentation folder
/docs/

# IDE
.idea/
.vscode/settings.json
*.swp
*.swo

# Temporary files
*.tmp
*.bak

#txt
prompt.txt